/* Add here all your CSS customizations */
.text-data {
	color: #744ba9;
}

/* Datatables search bar */
.dataTables_wrapper .dataTables_filter input {
  width: 85%;
}

/* datatables condensed settings */
.table-condensed>tbody>tr>td {
    line-height: 1;
    font-size: 12px;
}
