/* space navbar and social icons */
#header .social-icons {
    margin-left: 20px;
}

/* sticky menu */
div.body {
    padding-top: 70px !important;
}

body.sticky-menu-active #header {
    top: -62px;
}

/* Header help links */
#header .help-links {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15px;
}

#header .help-links a{
    color: #0088cc;
    padding-left: 5px;
    padding-right: 5px;
}

#header .help-links a:hover{
    color: #444;
}

/* JQuery Autocomplete styling */
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.form-control:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.ui-menu-item, a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-state-focus, .ui-state-active {
    color: #555555;
    text-decoration: none;
    background-color: #FFCC66;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/* rev-slider, additional caption colors */
.tp-caption.modern_med_redbg {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:300;
font-size:20px;
line-height:24px;
font-family:"Open Sans", sans-serif;
padding:3px 10px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#de543e;
letter-spacing:0;
}

.tp-caption.modern_med_bluebg {
position: absolute;
color: #fff;
text-shadow: none;
font-weight: 300;
font-size: 20px;
line-height: 24px;
font-family: "Open Sans", sans-serif;
padding: 3px 10px;
margin: 0px;
border-width: 0px;
border-style: none;
background-color: #3399FF;
letter-spacing: 0;
}

.tp-caption.medium_orange {
font-size:20px;
line-height:30px;
font-weight:400;
font-family:"Open Sans", sans-serif;
color:rgb(243, 156, 18);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_thin_green {
font-size: 48px;
line-height: 50px;
font-weight: 300;
font-family: "Open Sans", sans-serif;
color: rgb(0, 204, 102);
text-decoration: none;
background-color: transparent;
padding: 1px 4px 0px;
text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
margin: 0px;
border-width: 0px;
border-color: rgb(255, 214, 88);
border-style: none;
}

.tp-caption.medium_text_ltred {
position: absolute;
color: #FF0000;
font-weight: 200;
font-size: 20px;
line-height: 20px;
font-family: Arial;
margin: 0px;
border-width: 0px;
border-style: none;
white-space: nowrap;
text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.avatar {
	height: auto;
	width: 200px;
}

/* Progress bars */
.progress-label {
	margin-top: -20px;
	font-size: 80%;
}
.progress-label .max {
	float: right;
}

/* Progress bar light style */
.progress.light {
	background: #f6f7f8;
	background: -webkit-linear-gradient(#f6f7f8, #f6f7f8 10%, whitesmoke 11%);
	background: linear-gradient(#f6f7f8, #f6f7f8 10%, whitesmoke 11%);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}


.progress .progress-bar-primary {
	background-color: #cccccc;
}

.progress .progress-bar-success {
	background-color: #47a447;
}

.progress .progress-bar-warning {
	background-color: #ed9c28;
}

.progress .progress-bar-danger {
	background-color: #d2322d;
}

.progress .progress-bar-info {
	background-color: #5bc0de;
}

.progress .progress-bar-dark {
	background-color: #171717;
}

/* Profile box blue */

.featured-box-secundary h2 {
    color: #0088cc;
    font-size: 28px;
    line-height: 28px;
}

/* Profile box green */

.featured-box-green h2 {
    color: #47a447;
    font-size: 28px;
    line-height: 28px;
}

.featured-box-green .box-content {
    border-top-color: #47a447;
}

/* Profile box red */

.featured-box-red h2 {
    color: #d2322d;
    font-size: 28px;
    line-height: 28px;

}

.featured-box-red .box-content {
    border-top-color: #d2322d;
}

/* Profile box orange */

.featured-box-orange h2 {
    color: #ed9c28;
    font-size: 28px;
    line-height: 28px;
}

.featured-box-orange .box-content {
    border-top-color: #ed9c28;
}

.text-data {
	color: #744ba9;
}
