/* rev-slider, additional caption colors */
.tp-caption.modern_med_redbg {
position:absolute;
color:#fff;
text-shadow:none;
font-weight:300;
font-size:20px;
line-height:24px;
font-family:"Open Sans", sans-serif;
padding:3px 10px;
padding-top:1px;
margin:0px;
border-width:0px;
border-style:none;
background-color:#de543e;
letter-spacing:0;
}

.tp-caption.modern_med_bluebg {
position: absolute;
color: #fff;
text-shadow: none;
font-weight: 300;
font-size: 20px;
line-height: 24px;
font-family: "Open Sans", sans-serif;
padding: 3px 10px;
margin: 0px;
border-width: 0px;
border-style: none;
background-color: #3399FF;
letter-spacing: 0;
}

.tp-caption.medium_orange {
font-size:20px;
line-height:30px;
font-weight:400;
font-family:"Open Sans", sans-serif;
color:rgb(243, 156, 18);
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.medium_thin_green {
font-size: 48px;
line-height: 50px;
font-weight: 300;
font-family: "Open Sans", sans-serif;
color: rgb(0, 204, 102);
text-decoration: none;
background-color: transparent;
padding: 1px 4px 0px;
text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
margin: 0px;
border-width: 0px;
border-color: rgb(255, 214, 88);
border-style: none;
}

.tp-caption.medium_text_ltred {
position: absolute;
color: #FF0000;
font-weight: 200;
font-size: 20px;
line-height: 20px;
font-family: Arial;
margin: 0px;
border-width: 0px;
border-style: none;
white-space: nowrap;
text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

/* Twitter Typeahead styling */
.typeahead,
.tt-query,
.tt-hint {
  width: 700px;
  height: 50px;
  padding: 8px 12px;
  font-size: 18px;
  line-height: 24px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: auto;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
	color: #000000;
	background-color: #FFCC66;
}

.tt-suggestion p {
  margin: 0;
}

.avatar {
	height: auto;
	width: 200px;
}

/* Progress bars */
.progress-label {
	margin-top: -20px;
	font-size: 80%;
}
.progress-label .max {
	float: right;
}

/* Progress bar light style */
.progress.light {
	background: #f6f7f8;
	background: -webkit-linear-gradient(#f6f7f8, #f6f7f8 10%, whitesmoke 11%);
	background: linear-gradient(#f6f7f8, #f6f7f8 10%, whitesmoke 11%);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}


.progress .progress-bar-primary {
	background-color: #cccccc;
}

.progress .progress-bar-success {
	background-color: #47a447;
}

.progress .progress-bar-warning {
	background-color: #ed9c28;
}

.progress .progress-bar-danger {
	background-color: #d2322d;
}

.progress .progress-bar-info {
	background-color: #5bc0de;
}

.progress .progress-bar-dark {
	background-color: #171717;
}

/* Profile box blue */

.featured-box-secundary h2 {
    color: #0088cc;
    font-size: 28px;
    line-height: 28px;
}

/* Profile box green */

.featured-box-green h2 {
    color: #47a447;
    font-size: 28px;
    line-height: 28px;
}

.featured-box-green .box-content {
    border-top-color: #47a447;
}

/* Profile box red */

.featured-box-red h2 {
    color: #d2322d;
    font-size: 28px;
    line-height: 28px;

}

.featured-box-red .box-content {
    border-top-color: #d2322d;
}

/* Profile box orange */

.featured-box-orange h2 {
    color: #ed9c28;
    font-size: 28px;
    line-height: 28px;
}

.featured-box-orange .box-content {
    border-top-color: #ed9c28;
}